@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
  

}
.pan{
    font-family: "Oswald";
    font-weight: 800;
  font-style: normal;
  }
.employees-container {
    
    margin: 20px;
  }
  
  .table-header {
    background-color: #1976d2;
    color: white;
  }
  
  .table-header th {
    font-weight: bold;
  }
  
  